<mat-card class="post-card">
  <img mat-card-image class="post-card-img" src="assets/socrates-1.jpeg" />
  <mat-card-title>O Σόκρατες και η «Δημοκρατία της Κορίνθιανς»</mat-card-title>
  <mat-card-content
    >Σύμφωνα με τον Πελέ, ο Σόκρατες έπαιζε καλύτερα προς τα πίσω από ό, τι
    παίζουν οι περισσότεροι παίκτες προς τα μπροστά. Αυτό το κοπλιμέντο
    αναδεικνύει σε μεγάλο βαθμό τι σπουδαίος ποδοσφαιριστής ήταν ο Βραζιλιάνος
    και πόσο διάσημος ήταν για την ικανότητα του να πασάρει με το
    τακουνάκι.</mat-card-content
  >
</mat-card>
