<!-- <mat-grid-list class="post-list" [cols]="getColumnNumber()"> -->
<div class="post-list">
  <app-post-card class="header-card"></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <app-post-card></app-post-card>
  <!-- <mat-grid-tile><app-post-card></app-post-card></mat-grid-tile> -->
</div>
